# Project specifics

# Temp files
*~

# NetBeans
nb-configuration.xml
# nbactions.xml

# Eclipse
.settings
.classpath
.project
.mymetadata

# IDEA
*.ipr
*.iml
*.iws
.idea/

# Android
classes/
bin/
gen/
out/
local.properties
gen-external-apklibs/
libs/*.jar
build/
.gradle/
.crashlytics_data/
captures/

# OSX
.DS_Store
tmp/

# Other
.firebase/
